@import "tailwindcss";

/* Premium tweaks */
:root {
  --card-bg: #ffffff;
  --glass: rgba(255, 255, 255, 0.06);
}

/* dark tweaks */
.dark :root {
  --card-bg: #0f1724;
}

/* nice scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(100, 116, 139, 0.5);
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* small helpers */
.bg-glass {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0.01)
  );
  backdrop-filter: blur(6px);
}
@keyframes ripple {
  to {
    transform: scale(3);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 0.5s linear;
}
